<h3>プロフィール編集</h3>
 <%= form_with model: @user do |f| %>
   <table>
     <tr>
       <th><%= f.label :name ,"名前" %></th>
       <td><%= f.text_field :name %></td>
     </tr>
     <tr>
       <th><%= f.label :email ,"自己紹介" %></th>
       <td><%= f.text_field :introduction %></td>
     </tr>
   </table>
   <div>
     <ul>
       <li id ="update_button"><%= f.submit "更新" %></li>
     </ul>
   </div>
 <% end %>